h1
{
	color: red; 
	font-size: 40px;
    font-weight: bolder;
}
body{
	background-image: url("bg1.jpg");
	background-position: center;
	background-size: cover;
}
#My_Canvas{
background-color: white;
border-width: 10px;
border-style: ridge;
}